<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carné - Formato Imprimible</title>
    <!-- Vinculamos tu archivo de estilos principal -->
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body class="body-impresion">

    <div class="contenedor-impresion">
        <div class="carnet-impresion">
            <h3 th:text="${carne.republica} + ' - ' + ${carne.entidad}">REPÚBLICA</h3>
            
            <div class="datos">
                <p><strong>NOMBRES Y APELLIDOS:</strong> <br> <span th:text="${carne.nombreCompleto}"></span></p>
                <p><strong>NÚMERO DE DOCUMENTO (C.C.):</strong> <br> <span th:text="${carne.cedula}"></span></p>
                <p><strong>FECHA DE EXPEDICIÓN:</strong> <br> <span th:text="${carne.fechaExpedicion}"></span></p>
            </div>

            <div class="footer">
                <p th:text="${carne.firmasLegales}"></p>
            </div>

            <!-- CAPA DE SEGURIDAD (PATRÓN DECORATOR) EN FORMATO TEXTO -->
            <div class="seguridad-impresion">
                <strong>Seguridad:</strong> <span th:text="${sellosSeguridad}"></span>
            </div>
        </div>

        <div class="botones">
            <a th:href="@{/perfil(diseno='html')}">⬅ Volver al diseño a color</a>
        </div>
    </div>

</body>
</html>